


@{

    var counter = 1;
}


<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>عنوان</th>
            <th>شماره تماس</th>
            <th>نام و نام خانوادگی</th>
            <th>پیام</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item.Subject</td>
                <td>
                    <call phone-number="@item.PhoneNumber"></call>
                </td>
                <td>@item.FullName</td>
                <td>@item.MessageBody</td>
            </tr>

            counter++;
        }


    </tbody>
</table>